
.container-1{
    background-color: black;
    color: #fff;
    text-align: center;
}
.container-1 ul{
    display: inline-flex;
    list-style: none;
}

.container-1 ul li{
    width: 100%;
    margin: 25px;
    padding: 2px;
    text-decoration: none;
    font-size: smaller;
}
.logo{
    float: left;
    margin-top: 30px;
    margin-left: 200px;
}
#sidebar1{
    float: right;
    width: 50%;
    padding-bottom: 15px;
}
#sidebar1 p{
    font-size: x-small;
}
.container-1{
    background-color: rgb(23, 23, 37);
    color: #fff;
    padding: 15px;
    text-align: center;
    font-size: xx-large;
    font-weight: 500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container-1 h5{
    font-size: small;
    
}
#btn-info{
    padding: 15px;
    width: 160px;
    background-color: rgb(4, 41, 190);
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    margin: 6px 4px;
    font-size: 10px;
}
.container-2 p{
    text-align: center;
}
#sidebar2{
    text-align: center;
    display: inline-block;
    vertical-align: top;
    border: 10px;
    margin: 25px;
}
#wrapper{
    width: 70%;
    margin: 0 auto;
}
.buttons{
    margin: 0 auto;
    width: 70%;
    font-size: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container-3 p{
    display: inline-block;
    width: 0 auto;
}
.container-4{
    text-align: center;
    font-size: larger;
}
 #btn{
    padding: 15px;
    width: 160px;
    background-color: rgb(4, 41, 190);
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    margin: 6px 4px;
    font-size: 10px;text-transform: uppercase;
    cursor: pointer;
}
#btn:hover, #btn:focus, #btn:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}